
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar
{
    height: 150px;
    background-color: cadetblue;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: Arial;
}
.photo-container
{
    /* height: 100vh; */
    width: 100%;
    display: flex;
    justify-content: center;
    /* align-items: center; */

}

.swiper
{
    height: fit-content;
    width: 100%;
}

.swiper-slide img
{
    width: 100%;
}
.swiper .swiper-button-prev, .swiper .swiper-button-next
{
    color: black;
}
.swiper .swiper-pagination-buller-active
{
    background:black ;
}
/* .buttons
{
    top: 500px;
    font-size: 25px;
    /* display: flex; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
/* } */ */
/* .buttons button{
    background-color:pink ;
    width: 100px;
    height: 40px;
} */

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  button {
    margin: 23px; /* Adjust margins as needed */
    padding: 20px 15px; /* Adjust padding as needed */
    margin-left: 23px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 60px;
  }

  /* .services
  {
    margin: 20px; /* Adjust margins as needed */
    /* margin-left: 23px;
    padding: 20px 15px; /* Adjust padding as needed */
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  } */ */