*{
    margin: 0;
    padding: 0;
}
.design {
    background-color: #1f2a47;
    height: 100px;
    color: aliceblue;
    font-size: 3rem;
    align-items: center;
}

#searchTextField {
    height: 25px;
   
}

#searchTextField::placeholder 
{
    color: black;
    font-size: 20px;
}